
/*
Hide elements added by Joplin or other plugins that shouldn't be visible within
the rendered slides.
.joplin-source, for example, prefixes math elements and contains a representation
of the source of KaTeX source.
*/
.joplin-source, .jsdraw--editButton, button.mermaid-export-graph {
	/* !important: Some elements (e.g. <pre>s) have display: block set by other CSS. */
	display: none !important;
}

a {
	cursor: pointer;
}

:root body {
	--r-background-color: var(--joplin-background-color);
	--r-main-color: var(--joplin-color);
	--r-heading-color: var(--joplin-color);
	--r-link-color: var(--joplin-url-color);
	--r-link-color-dark: #068de9;
	--r-link-color-hover: #8dcffc;
	--r-selection-background-color: rgba(66, 175, 250, 0.75);
	--r-selection-color: #fff;
}

.katex {
	text-transform: none;
}
