
/*
Hide elements added by Joplin or other plugins that shouldn't be visible within
the rendered slides.
.joplin-source, for example, prefixes math elements and contains a representation
of the source of KaTeX source.
*/
.joplin-source, .jsdraw--editButton, button.mermaid-export-graph {
	/* !important: Some elements (e.g. <pre>s) have display: block set by other CSS. */
	display: none !important;
}

a {
	cursor: pointer;
}

:root body {
	--r-background-color: var(--joplin-background-color);
	--r-main-color: var(--joplin-color);
	--r-heading-color: var(--joplin-color);
	--r-link-color: var(--joplin-url-color);
	--r-link-color-dark: #068de9;
	--r-link-color-hover: #8dcffc;
	--r-selection-background-color: rgba(66, 175, 250, 0.75);
	--r-selection-color: #fff;
}

.katex {
	text-transform: none;
}

body.allowSlidesOverflow .slides > section {
	overflow-y: auto;

	/* Seems to be necessary to prevent scrollbars on slides with fragments.
	   Note that this is likely required due to reveal.js manually setting the
	   height of slides. */
	padding-bottom: 25px;
	max-height: 100%;
}

:root .reveal .speaker-notes {
	background-color: var(--joplin-background-color2);
	color: var(--joplin-color2);
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.license-text-dialog {
	border-radius: 4px;
	border: none;
	box-shadow: 0px 1px 4px rgba(100, 100, 100, 0.5);

	color: var(--joplin-color3);
	background-color: var(--joplin-background-color3);

	opacity: 1;
	animation: 0.4s ease fade-in;

	transition: 0.3s ease opacity;
}

.license-text-dialog.hiding {
	opacity: 0;
}

.license-text-dialog::backdrop {
	backdrop-filter: blur(12px);
	transition: 0.3s ease backdrop-filter;
}

.license-text-dialog.hiding::backdrop {
	backdrop-filter: blur(0px);
}

.license-text-dialog > .license {
	white-space: pre-wrap;
	font-family: monospace;
	max-height: 400px;
	max-width: 500px;
	overflow-y: auto;
}

.license-text-dialog > .close {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
