
/* Makes the main drawing dialog take up the entire screen */
iframe[id$="revealjs-slides-plugin-revealJSDialog"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}