
@use './themes/match-joplin.scss';
@use './themes/dark.scss';
@use './themes/light.scss';
@use './themes/black-on-white.scss';
@use './themes/dark-blue.scss';
@use './themes/light-blue.scss';

/*
Hide elements added by Joplin or other plugins that shouldn't be visible within
the rendered slides.
.joplin-source, for example, prefixes math elements and contains a representation
of the source of KaTeX source.
*/
.joplin-source, .jsdraw--editButton, button.mermaid-export-graph, div.mermaid-export-graph {
	/* !important: Some elements (e.g. <pre>s) have display: block set by other CSS. */
	display: none !important;
}

/* Don't format pre blocks like code blocks. */
.reveal pre.mermaid {
	box-shadow: none;
}

.reveal pre.mermaid > svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Anchor elements can act as links even if they don't have an href= attribute.
   Style them as such. */
a {
	cursor: pointer;
}

.katex {
	text-transform: none;
}

@media screen {
	body.allowSlidesOverflow .slides > section {
		overflow-y: auto;

		/* Seems to be necessary to prevent scrollbars on slides with fragments.
		Note that this is likely required due to reveal.js manually setting the
		height of slides. */
		padding-bottom: 25px;
		max-height: 100%;
	}
}

:root .reveal .speaker-notes {
	background-color: var(--joplin-background-color2);
	color: var(--joplin-color2);
}

/* Fix a conflict between RevealJS and Joplin styles */
.rjs-code-wrapper > code > table.hljs-ln tr > td {
	font: var(--r-code-font);
	background-color: unset;
	border: unset;
	color: unset;
}
.rjs-code-wrapper > code > table.hljs-ln tr {
	background-color: unset;
	border: unset;
}
.rjs-code-wrapper > code > table.hljs-ln {
	border: unset;
	background-color: unset;
}


@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.popup-dialog {
	border-radius: 4px;
	border: none;
	box-shadow: 0px 1px 4px rgba(100, 100, 100, 0.5);

	color: var(--joplin-color3, black);
	background-color: var(--joplin-background-color3, white);

	opacity: 1;
	animation: 0.4s ease fade-in;

	transition: 0.3s ease opacity;
}

.popup-dialog.hiding {
	opacity: 0;
}

.popup-dialog::backdrop {
	backdrop-filter: blur(12px);
	transition: 0.3s ease backdrop-filter;
}

.popup-dialog.hiding::backdrop {
	backdrop-filter: blur(0px);
}

.popup-dialog > .close {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media print {
	.popup-dialog {
		display: none;
	}
}

.license-text-dialog > .license {
	white-space: pre-wrap;
	font-family: monospace;
	max-height: 400px;
	max-width: 500px;
	overflow-y: auto;
}


/* E.g. print, exit */
.action-button {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 8px;

	font-size: 1.2em;
	background-color: var(--joplin-background-color2, white);
	color: var(--joplin-color2, black);

	cursor: pointer;
}

@media print {
	.print-button {
		display: none;
	}
}

.print-button {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
}

@media screen {
	/* In print preview mode, show a slight shadow to mark the different pages. */
	:root .reveal .slides .pdf-page {
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
		margin-bottom: 30px;
	}

	html.reveal-print > body .reveal {
		overflow: visible !important;
	}
}
